<!DOCTYPE html>
<html>

<head>
<title> masterifier </title>
<script src="/static/stuff.js"></script>
</head>

<body>

<textarea id="area" placeholder="Input text here" rows=5 cols=30></textarea>
<div id="otherText">
</div>
<button id="copier">copy text</button>

<div style="margin-top: 100px;">
    <label for="replaced"> word to be replaced</label>
    <input id="replaced" type="text">
    <br>
    <label for="replacer"> word to replace with </label>
    <input id="replacer" type="text">
    <br>
    <button id="submitter">submit</button>
</div>

<hr>
<table>
<thead> current replacements </thead>
<tbody id="tbody">
</tbody>
</table>

</body>
</html>
